<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Contoh"
        tools:targetApi="31">
        <activity
            android:name=".Home.TugasActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Home.ScanQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Home.GenerateQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Home.PemesananActivity"
            android:exported="false" />
        <activity
            android:name=".Home.APIView2"
            android:exported="false" />
        <activity
            android:name=".Home.APIView1"
            android:exported="false" />
        <activity
            android:name=".WikiONNX.WikiActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome.WelcomeMessageActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Home.WebView"
            android:exported="false" />
        <activity
            android:name=".Home.Dashboard"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.Halaman3"
            android:exported="false" />
        <activity
            android:name=".Home.Halaman2"
            android:exported="false" />
        <activity
            android:name=".Home.Halaman1"
            android:exported="false" />
        <activity
            android:name=".Home.LogOut"
            android:exported="false" />
        <activity
            android:name=".Home.BangunRuang"
            android:exported="false" />
        <activity
            android:name=".HalamanAwal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Reminder receiver untuk AlarmManager -->
        <receiver
            android:name=".Home.ReminderReceiver"
            android:exported="false" />
    </application>

</manifest>